@import "variables";
@import "common";


//////////////////////////////////////////////// introduction  /////////////////////////////////////////////////////////

.introduction_section {
  @include introAboutArenda;
}

.introduction_info {
  @include infoAboutArenda;
}
.introduction_info_item {
  @include infoItemAboutArenda;
}


//////////////////////////////////////////////// about us  /////////////////////////////////////////////////////////////

.about_us_section {
  @include aboutUsSection;
}

.about_us_container {
  @include aboutUsContainer;
}
.about_us_image_wrapper {
  @include aboutUsImageWrapper;

}
.about_us_text_wrapper {
  @include aboutUsTextWrapper;
}


//////////////////////////////////////////////// pages nav section  ////////////////////////////////////////////////////

.pages_nav_section {
  @include pagesNavSection;
}

.pages_nav_item {
  @include pagesNavItem;

  &:nth-child(1) {
    background: $color1;
  }

  &:nth-child(2) {
    background: $color5;
  }

  &:nth-child(3) {
    background: $color1;
    @media ($mobile) {
      & br{
        display: none;
      }
    }
  }
}
.pages_nav_item_button {
  @include pagesNavButton
}


//////////////////////////////////////////////// video /////////////////////////////////////////////////////////////////


.video_section {
  @include videoSection;
}

.video_section_container {
  @include videoSectionContainer;
}
.video_container {
  @include videoContainer;
}
.video_wrapper {
  @include videoWrapper;
}

.play {
  @include controls;
  @include play;
}
.volume {
  @include controls;
  @include volume;
}


//////////////////////////////////////////////// rental application form ///////////////////////////////////////////////

@mixin formInputsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 48px;
  padding-right: 48px;
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  & input {
    color: black;
    outline: none;
    @media (max-width: 900px) {
      margin: 10px 0;
    }

    &:nth-child(4) {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}

.rental_application {
  @include container;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 90000;
  background: rgba(18, 18, 18, 0.5);
  justify-content: center;
  align-items: center;
  display: none;

  &.active {
    display: flex;
  }

  @media (max-width: 900px) {
    top: 0;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    &.active {
      display: block;
    }
  }
}

.form_wrapper {
  position: relative;
  width: 100%;
  background: $color1;
  border-radius: 20px;
  padding-top: 46px;
  padding-bottom: 74px;

  &::-webkit-scrollbar {
    width: 0;
  }

  @media ($laptop) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media (max-width: 900px) {
    border-radius: 0;
  }

  & input {
    @include font18(26px);
    font-family: $gothamProMedium;
    color: #7d7d7d;
    border: 2px solid #777777;
    border-radius: 8px;
    padding: 18px 26px;
    width: 100%;
    @media ($laptop) {
      padding: 16px 22px;
    }
    @media (max-width: 1400px) {
      padding: 10px 20px;
    }
    @media (max-width: 900px) {
      padding: 10px 20px;
    }
  }

  & button {
    @include button;
    font-size: 22px;
    line-height: 44px;
    padding: 10px 48px;
    left: 50%;
    transform: translateX(-50%);
    @media ($laptop) {
      font-size: 20px;
      padding: 8px 38px;
    }
    @media (max-width: 1400px) {
      font-size: 18px;
    }
  }

  & form {
    @media (max-width: 900px) {
      height: 100dvh;
      overflow-x: auto;
      padding-bottom: 200px;
    }
  }
}

.form_title_wrapper {
  width: 100%;
  text-align: center;

  & h2 {
    font-family: $gothamProMedium;
    font-weight: 800;
    font-size: 48px;
    line-height: 1;
    margin: 0 0 24px 0;
    @media ($laptop) {
      font-size: 40px;
      margin-bottom: 20px;
    }
    @media (max-width: 776px) {
      font-size: 32px;
    }
  }

  & p {
    font-family: $gothamPro;
    font-size: 14px;
    color: black;
    width: 100%;
    margin: 0 0 74px 0;
    @media ($laptop) {
      margin-bottom: 40px;
    }
    @media (max-width: 900px) {
      margin-bottom: 30px;
      padding-right: 40px;
      padding-left: 40px;
    }
    @media (max-width: 460px) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}
.form_close {
  position: absolute;
  top: 55px;
  right: 60px;
  width: 50px;
  height: 50px;
  cursor: pointer;

  & .fa-xmark {
    width: 100%;
    height: 100%;
    color: $color3;
  }

  @media ($laptop) {
    top: 40px;
    right: 40px;
  }
  @media (max-width: 900px) {
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
  }
  @media (max-width: 500px) {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
}

.form_contacts {
  @include formInputsSection;
  background: #eff0f0;
  padding: 52px 48px;
  margin-bottom: 40px;
  @media ($laptop) {
    padding: 40px 48px;
    margin-bottom: 40px;
  }
  @media (max-width: 1400px) {
    padding: 20px 48px;
    margin-bottom: 20px;
  }
  @media (max-width: 900px) {
    padding: 20px;
    margin-bottom: 20px;
  }
}

.form_organization_info {
  @include formInputsSection;
  margin-bottom: 30px;
  @media (max-width: 900px) {
    margin-bottom: 20px;
  }
}

.form_rent_info {
  @include formInputsSection;
  justify-content: flex-start;
  margin-bottom: 70px;
  column-gap: 40px;
  @media ($laptop) {
    margin-bottom: 50px;
  }
  @media (max-width: 1400px) {
    margin-bottom: 30px;
  }
  @media (max-width: 1120px) {
    flex-direction: column;
    align-items: flex-start;
  }
  @media (max-width: 900px) {
    align-items: center;
  }

  & span {
    @include font16(22px);
    display: inline-block;
    font-family: $gothamProBold;
    margin: 0;
    max-width: 200px;
    height: fit-content;

    @media (max-width: 460px) {
      text-align: center;
    }
  }

  & .form_select_title{
    min-width: 200px;
    margin-right: 20px;
    @media (max-width: 1300px) {
      min-width: unset;
    }
    @media (max-width: 900px) {
      margin-right: unset;
      min-width: 100%;
      text-align: center;
    }
  }
  & label {
    display: flex;
    align-items: center;
  }
}

.rent_type_wrapper {
  flex: 0.647;
  @media (max-width: 900px) {
    flex: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media ($mobile) {
    width: 100%;
  }
}
#rent_type {
  @include font18(26px);
  font-family: $gothamProMedium;
  border: 2px solid #777777;
  border-radius: 8px;
  padding: 18px 26px;
  margin-right: 40px;
  width: 390px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: url("../images/about/svg/angleDown.svg") no-repeat right 20px center;
  background-size: 24px 24px;
  transition: $transition;
  outline: none;
  color: #7d7d7d;
  @media ($laptop) {
    padding: 16px 22px;
  }
  @media (max-width: 1400px) {
    padding: 10px 20px;
  }
  @media (max-width: 1300px) {
    width: 100%;
    min-width: 260px;
  }
  @media (max-width: 1120px) {
    min-width: 394px;
  }
  @media (max-width: 900px) {
    min-width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
  }
}

.form_area_wrapper {
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    margin-right: -18px;
    @media ($laptop) {
      margin-right: -12px;
    }
  }

  @media (max-width: 1120px) {
    padding-top: 20px;
  }
  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.area_wrapper {
  display: flex;
  justify-content: flex-start;
  min-width: 400px;
  @media (max-width: 460px) {
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap;
    gap: 10px;
    min-width: 300px;
    & input {
      margin: 0 !important;

      &:nth-child(1),
      &:nth-child(2) {
        margin-top: 10px !important;
      }
    }
  }

}
.form_area {
  max-width: 96px;
  margin: 0;

  &:last-child {
    max-width: 170px;
  }

  &:nth-child(2) {
    margin-left: 12px !important;
    margin-right: 12px !important;
    @media (max-width: 460px) {
      margin-left: unset !important;
      margin-right: unset !important;
    }
  }

}

.form_agreement {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
  @media (max-width: 1400px) {
    margin-bottom: 30px;
  }

  & label {
    font-size: 13px;
    line-height: 20px;
    font-family: $gothamProBold;
    max-width: 258px !important;
    @media ($laptop) {
      max-width: 203px !important;
    }
  }

  & a {
    color: $color3;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }

  & #agreement {
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-right: 20px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background-color: white;
      border: 2px solid black;
      border-radius: 3px;
    }

    &:checked:before {
      content: "";
      background: url("../images/about/svg/check.svg") no-repeat center 55%;
      background-size: 70%;
    }
  }
}


//////////////////////////////////////////// custom select ////////////////////////////////////////////////////////////////////


.select2{
  max-width: unset !important;
  width: 100% !important;
  min-height: 66px !important;
  height: 66px !important;
  @media ($laptop) {
    min-height: 62px !important;
    height: 62px !important;
  }
  @media (max-width: 1400px) {
    min-height: 50px !important;
    height: 50px !important;
  }
  @media (max-width: 1120px) {
    width: 395px !important;
  }
  @media (max-width: 900px) {
    margin: 10px 0 !important;
  }

  span{
    max-width: unset !important;
    width: 100% !important;
  }
}

.selection{
  max-width: unset !important;
  width: 100% !important;
}

.select2-selection__rendered {
  font-family: $gothamProMedium !important;
  min-width: 260px !important;
  min-height: 66px;
  font-size: 18px !important;
  line-height: 26px !important;
  padding: 18px 26px !important;
  margin-right: 40px;
  background: rgb(255, 255, 255) url("../images/about/svg/angleDown.svg") no-repeat 94.5% 52%;
  background-size: 24px 24px;
  border: 2px solid  #777777;
  color: #7d7d7d !important;
  @media ($laptop) {
    font-size: 16px !important;
    padding: 16px 22px !important;
    min-height: 62px !important;
    background: rgb(255, 255, 255) url("../images/about/svg/angleDown.svg") no-repeat 94.5% 55%;
    background-size: 24px 24px;
  }
  @media (max-width: 1400px) {
    padding: 10px 20px !important;
    min-height: 50px !important;
    background: rgb(255, 255, 255) url("../images/about/svg/angleDown.svg") no-repeat 94.5% 58%;
    background-size: 24px 24px;
  }

}

.select2-container--open{
  z-index: 90000;
}

.select2-results__option{
  padding: 18px 26px !important;
  font-size: 18px !important;
  line-height: 26px !important;
  @media ($laptop) {
    font-size: 16px !important;
    padding: 16px 22px !important;
  }
  @media (max-width: 1400px) {
    padding: 10px 20px !important;
  }
}
