@import "variables";
@import "common";


.blog_section {
  h1 {
    @include h1;
    margin-bottom: 58px;
  }
}

/////////////////////////////////////////// filter /////////////////////////////////////////////////////////////////////

.blog_filter {
  @include container;


  & .desktop_form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    @media ($tablet) {
      gap: 20px;
    }
    @media ($mobile) {
      display: none;
    }
  }

  & .mobile_form {
    display: none;
    @media ($mobile) {
      display: block;
    }
  }

}

.blog_filter_button {
  @include radioButton;

  & span {
    font-size: 18px;
    padding: 10px 28px;
  }

}
#blog_filter_select {
  font-family: $gothamProBold;
  width: 100%;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: rgb(255, 255, 255) url("../images/about/svg/angleDown.svg") no-repeat 93% 50%;
  background-size: 24px 24px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 26px;
  outline: none;
  padding: 16px 20px;
  border: 1px solid black;

  option {
    font-family: $gothamPro;
    font-size: 16px;
  }

  option[value=""][disabled] {
    display: none;
  }

}


/////////////////////////////////////////// promotions  ////////////////////////////////////////////////////////////////

.promotions_section {
  @include promotionsSection;
  padding-bottom: 90px;
  padding-top: 42px;
  @media ($laptop) {
    padding-top: 30px;
    padding-bottom: 42px;
  }
  @media ($tablet) {
    padding-top: 42px;
  }
  @media ($mobile) {
    padding-top: 40px;
    padding-bottom: 76px;
  }
}

.promotions_items {
  @include promotionsItems;
}
.promotions_item {
  @include promotionsItem;
}
.item_image {
  @include itemImage;
}
.item_description {
  @include itemDescription;
}



