@import "variables";

.catalog_section{
  h1{
    @include h1;
    margin-bottom: 40px;
    @media ($laptop) {
      margin-bottom: 34px;
    }
    @media ($mobile) {
      margin-bottom: 14px;
    }
  }
}

@mixin controlFilters{
  padding: 20px;
  border-radius: 8px;
  @media ($mobile) {
    padding: 18px 15px;
  }
}
.catalog_controls_wrapper{
  background: $color2;
  padding: 20px 0;
  @media ($mobile) {
    padding-bottom: 30px;
  }
}

.catalog_controls{
  @include container;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}


.catalog_controls_filter{
  font-size: 18px;
  line-height: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 40px;
  @media ($tablet) {
    gap: 20px;
  }
  @media ($mobile) {
    font-size: 15px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 0;
    overflow: hidden;
    grid-auto-columns: auto;
    transition: $transition;
    gap: 0;
    #catalog_search_form{
      display: none;
      overflow: hidden;
      grid-row: 2;
      width: 100%;
    }
    #catalog_category_form{
      grid-row: 1;
    }
    #catalog_floor_form{
      display: none;
      grid-row: 2;
      overflow: hidden;

    }

    &.search{
      grid-template-rows: 1fr 60px;
      gap: 20px;

      #catalog_search_form{
        display: block;
      }
    }
    &.floor{
      grid-template-rows: 1fr 60px;
      gap: 20px;
      #catalog_floor_form{
        display: block;
      }
    }
  }

  select{
    @include controlFilters;
    font-family: $gothamProBold;
    width: 250px;
    height: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    background: rgb(255, 255, 255) url("../images/about/svg/angleDown.svg") no-repeat 90% 60%;
    background-size: 24px 24px;
    transition: $transition;
    outline: none;
    @media ($laptop) {
      background: rgb(255, 255, 255) url("../images/about/svg/angleDown.svg") no-repeat 90% 50%;
      background-size: 24px 24px;
      width: 250px;
    }
    @media ($mobile) {
      background: rgb(255, 255, 255) url("../images/about/svg/angleDown.svg") no-repeat 93% 50%;
      background-size: 24px 24px;
      width: 66.5625vw;
    }
    option{
      font-family: $gothamPro;
    }
    option[value=""][disabled] {
      display: none;
    }
  }
}

.catalog_mobile_buttons {
  display: none;
  position: absolute;
  left: 75vw;
  margin-top: 14px;
  justify-content: space-between;
  .mobile_floor_button{
    font-size: 22px;
    margin-right: 14px;
  }
  .fa-magnifying-glass{
    font-size: 20px;
  }
  @media ($mobile) {
    display: block;
  }
}
.mobile_search_button, .mobile_floor_button{
  all: unset;
  color: $color3;
  font-size: 20px;
  cursor: pointer;
  &.active{
    color: $color1;
  }
}

.catalog_search_label{
  position: relative;
  .search_input_button{
    all: unset;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: $color3;
    z-index: 5;
  }
}
#catalog_search{
  @include controlFilters;
  font-family: $gothamProMedium;
  width: 395px;
  position: relative;
  z-index: 1;
  outline: none;
  @media ($laptop) {
    width: 295px;
  }
  @media ($mobile) {
    width: calc(100vw - $marginMobile * 2);
  }}

#catalog_floor{
  @media ($mobile) {
    width: calc(100vw - $marginMobile * 2) !important;
  }
}
.catalog_controls_buttons{
  width: 363px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  @media ($mobile) {
    width: 100%;
    justify-content: flex-start;
    column-gap: 14px;
  }
  button{
    @include controlFilters;
    font-size: 16px;
    font-family: $gothamProBold;
    border-radius: 8px;
    cursor: pointer;
    transition: $transition;
    border:  none;
    background: $color3;
    color: $color1;
    @media ($mobile) {
      font-size: 15px;
      line-height: 20px;
      white-space: nowrap;
    }
    &:nth-child(1){
      padding-right: 30px;
      @media ($mobile) {
        padding: 14px ;
      }
    }
    &:nth-child(2){
      padding-left: 30px;
      @media ($mobile) {
        padding: 14px;
      }
    }
    & .icon{
      color: $color1;
      font-size: 20px;
      position: relative;
      top: 3px;
      margin-right: 12px;
      transition: $transition;
      @media ($laptop) {
        top: 2px;
      }
      @media ($mobile) {
        top: 2px;
        margin-right: 4px;
      }
    }
    &.active{
      background: $color1;
      color: black;
      & .icon{
        color: $color3;
      }
    }
  }
}





.catalog_tiles{
  @include container;
  padding-top: 54px;
  padding-bottom: 180px;
  display: none;
  &.active{
    display: block;
  }
  @media ($laptop) {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}
.catalog_tiles_items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media ($tablet) {
    grid-template-columns: 1fr 1fr;
  }
  @media ($mobile) {
    grid-template-columns: 1fr;
    gap: 20px;
  }

}

.catalog_tiles_item{
  position: relative;
  border: 1px solid #bbc1ca;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.tiles_item_image_wrapper{
  background: $color6;
  position: relative;
  width: 100%;
  aspect-ratio: 395 / 290 ;

  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68%;
    height: 55%;
    object-fit: contain;

  }
}

.tiles_item_text_wrapper{
  flex: 1;
  padding: 14px 24px 20px 30px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #bbc1ca;
  @media ($laptop) {
    padding: 4px 20px 20px;
  }

  h5{
    font-family: $gothamProMedium;
    font-size: 20px;
    line-height: 44px;
    margin: 0 0 -10px 0;
  }
  p{
    font-family: $gothamPro;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 16px;
    @media ($laptop) {
      font-size: 14px;
    }
    @media ($mobile) {
      line-height: 18px;
      margin-bottom: 20px;
    }
  }
}


.tiles_item_text_bottom{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100%);
  bottom: 20px;
  column-gap: 40px;
  row-gap: 20px;
  font-size: 15px;
  line-height: 20px;
  @media ($laptop) {
    font-size: 14px;
    column-gap: 10px;
  }
  span{
    font-family: $gothamProBold;
  }
  a{
    position: relative;
    right: 0;
    font-family: $gothamPro;
    color: $color3;
    text-decoration: underline;
    text-underline-offset: 3px;
    padding-left: 30px;
    @media ($laptop) {
      padding-left: 26px;
    }
    &:before{
      content: '';
      position: absolute;
      width: 16px;
      height: 30px;
      left: 0;
      top: -6px;
      background: url("../images/iconLocation.png") no-repeat center center;
      @media ($laptop) {
        top: -4px;
      }
    }
  }
}




.catalog_list{
  @include container;
  padding-top: 24px;
  padding-bottom: 40px;
  display: none;
  &.active{
    display: block;
  }
  @media ($laptop) {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}

.catalog_list_items{

}

.catalog_list_item{
  display: flex;
  column-gap: 40px;
  border-bottom: 1px solid #586374;
  padding: 26px 0 22px;
  &:last-child{
    border-bottom: unset;
  }
}

.list_item_letter{
  min-width: 105px;
  @media ($mobile) {
    min-width: 40px;
  }
  span{
    position: relative;
    font-size: 56px;
    line-height: 44px;
    font-family: $gothamProBlack;
    padding-bottom: 20px;
    &:after{
      content: "";
      position: absolute;
      width: 40px;
      height: 7px;
      bottom: 0;
      left: 0;
      background: $gradient;
    }
  }
}

.list_item_shops{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 2px;
}

.shop_item{

  h5{
    font-family: $gothamProMedium;
    font-size: 30px;
    line-height: 44px;
    margin: 0 0 10px 0;
    @media ($mobile) {
      font-size: 24px;
      margin: 0 0 12px 0;
    }
  }
}

.shop_item_bottom{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  bottom: 20px;
  column-gap: 10px;
  row-gap: 20px;
  font-size: 15px;
  line-height: 20px;
  @media ($laptop) {
    font-size: 14px;
    column-gap: 10px;
  }
  @media ($mobile) {
    font-size: 12px;
  }
  span{
    font-family: $gothamProBold;
  }
  a{
    position: relative;
    right: 0;
    font-family: $gothamPro;
    color: $color3;
    text-decoration: underline;
    text-underline-offset: 3px;
    padding-left: 30px;
    @media ($laptop) {
      padding-left: 26px;
    }
    &:before{
      content: '';
      position: absolute;
      width: 16px;
      height: 30px;
      left: 0;
      top: -6px;
      background: url("../images/iconLocation.png") no-repeat center center;
      @media ($laptop) {
        top: -4px;
      }
    }
  }
}
