@import "variables";


header{
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 100;
  &.fixed{
    position: fixed;
  }
  @media ($tablet) {
    position: fixed;

  }
}

//////////////////////////////////////////// header top //////////////////////////////////////////////////////////

.header_top {
  @include siteNavigation;
  @media ($tablet) {
    display: none;
  }
}

//////////////////////////////////////////// header mid //////////////////////////////////////////////////////////

.header_mid{
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 122px;
  border-bottom: 1px solid #000000;
  position: relative;
  z-index: 2;
  background: $color1;
  transition: height $transition;
  @media ($laptop) {
    height: 107px;
  }
  @media ($tablet) {
    justify-content: flex-start;
    height: 80px;
    border-bottom: none;

  }
  &.fixed{
    border-bottom: 1px solid transparent;
    transition: border $transition $transition height $transition;
    height: 80px;
    @media ($laptop) {
      height: 70px;
    }
    & button {
      @media (max-width: 1100px) {
        border: none;
        & span {
          display: none;
        }
        & .fa-map {
          font-size: 26px;
        }
      }
    }
  }
}

.header_mid_info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: $transition;
  will-change: transform;
  &.fixed{
    transform: translateX(105px) translateY(-2px);
    @media ($laptop) {
      transform: translateX(72px);
    }
  }
}
.header_logo{
  @include logo;
}
.header_mid_center{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 662px;
  @media ($laptop) {
    width: 524px;
  }
  @media ($tablet) {
    display: none;
  }
}

.header_address_container{
 @include address;
}
.header_address {

}
.header_address_links{
  @include addressLinks;
}
.header_phone_number{
  @include phoneNumber;
}

.floor_plan_button{
  @include floorPlanButton;
  @media ($tablet) {
    display: none;
    &.mobile{
      display: block;
    }
  }
}


.header_mid_mobile_buttons{
  display: none;
  position: absolute;
  @media ($tablet) {
    display: block;
    right: $marginLaptop;
    margin-top: 4px;
  }
  @media ($mobile) {
    right: $marginMobile;
  }
  & .mob_icon{
    font-size: 28px;
    line-height: 1;
    color: $color3;
    margin-right: 11px;
    @media ($mobile) {
      font-size: 20px;
    }
    &.fa-map{
      margin-right: 15px ;
      @media ($mobile) {
        font-size: 22px;
      }
    }
  }
}
//////////////////////////////////////////// header bottom ///////////////////////////////////////////////////////

.header_bottom{
  @include container;
  transition: $transition;
  top: 0;
  position: relative;
  z-index: 1;
  background: $color1;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid black;

  @media ($tablet) {
    display: none;
  }
}

.header_bottom_nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header_bottom_nav_list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  & li {
    @include font20(44px);
    font-family: $gothamProMedium;
    @media ($laptop) {
      line-height: 38px;
    }
  }
}

.header_all{
  @include backgroundGradientHover($gradient, $gradientReverse);
  @include font20(20px);
  font-family: $gothamProMedium;
  color: $color1;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 23px;
  border-radius: 8px;
  margin-right: 68px;
  overflow: unset;
  @media ($laptop) {
    padding: 10px 18px;
    margin-right: 40px;
  }

  &:before, &:after{
    border-radius: 8px;
  }

  &.active{
    &:after {
      opacity: 1;
    }
  }

  &.header_all_fixed{
    position: absolute;
    opacity: 0;
    transition: $transition;
    padding: 18px 24px;
    @media ($laptop) {
      padding: 14px 18px;
    }
    @media ($tablet) {
      opacity: 1;
      position: relative;
      margin-right: 20px;
      padding: 18px 21px;
    }
    &.fixed{
      opacity: 1;
    }
    & .menu_icon{
      margin-right: 0px;
    }
  }

}


.menu_icon{
  display: block;
  position: relative;
  top: -1px;
  width: 18px;
  height: 12px;
  cursor: pointer;
  margin-right: 14px;
  & span{
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $color1;
    transition: $transition;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      opacity: 1;
    }
    &:nth-child(3) {
      top: 100%;
    }
  }
  &.active{
    & span{
      position: absolute;
      width: calc(100% + 6px);
      &:nth-child(1) {
        /*
        top: calc(50% + 1px);
        */
        transform: translate(-10%, 200%) rotate(45deg);
      }
      &:nth-child(2) {
/*        top: calc(50% + 1px);
        left: 0;
        transform: translate(-3px, -50%);*/
        opacity: 0;
      }
      &:nth-child(3) {
/*        top: calc(50% + 1px);
        left: 0;
        transform: translate(-3px, -50%) rotate(-45deg);*/
        transform: translate(-10%, -200%) rotate(-45deg);
      }
    }
  }

}

////////////////////////////////////////////////// drop menu //////////////////////////////////////////////////////

@mixin dropItemHover{
  &:hover{
    display: inline-block;
    color: $color3;
    text-decoration: underline;
  }
}
$bottomNavOffset: 110px;
$bottomNavOffsetLaptop: 62px;
.drop_menu{
  position: absolute;
  left: $marginDesktop;
  width: calc(100% - $marginDesktop * 2 + 20px);
  box-shadow: 0 14px 32px 0 rgba(1, 2, 2, 0.29);
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: $transition;
  z-index: 3;
  &.active{
    opacity: 1;
    user-select: auto;
    pointer-events: auto;
  }

  @media ($laptop) {
    width: calc(100% - $marginLaptop * 2);
    left: $marginLaptop;
  }
  @media ($tablet) {
    display: none;
  }
}

.drop_menu_nav{
}

.drop_menu_nav_list{
  border-bottom: 1px solid transparent;
  column-count: 6;
  column-gap: 40px;
  padding-bottom: 44px;
  margin-bottom: 0;
  background: $color1;
  transition: $transition $transition;
  @media ($laptop) {
    padding-bottom: 14px;
  }
  @media ($tablet) {
    display: none;
  }

  &.fixed{
    transition: $transition;
    border-bottom: 1px solid black;
  }
  &.hidden{
    display: none;
  }

  & li{
    @include font20(40px);
    list-style-type: none;
    @media ($laptop) {
      font-size: 14px;
      line-height: 25px;
    }
  }
}
.drop_menu_nav_selected{
  display: none;
  &.hidden{
    display: block;
  }
  & li{
    @include font20(40px);
    list-style-type: none;
    @media ($laptop) {
      font-size: 14px;
      line-height: 25px;
    }
    font-family: $gothamPro;

  }
}

.drop_menu_categories{
  margin-bottom: 40px;
  & span{
    @include dropItemHover;
    font-family: $gothamProBold;
  }
}
.drop_menu_category_name{
  font-family: $gothamPro;
}

.drop_menu_shops{
  font-family: $gothamPro;
}
.drop_menu_shops_item{
  @include dropItemHover;
}

.drop_menu_bottom_nav{
  display: flex;
  justify-content: space-between;
  width: 65vw;
  @media ($laptop) {
    width: 72vw;
    margin: 0;
  }
  @media ($tablet) {
    display: block;
    column-count: 2;
  }

  & li{
    @include font20(40px);
    list-style-type: none;
    font-family: $gothamProMedium;
  }
}


.drop_menu_content{
  background: $color1;
  width: 100%;
  padding: 26px 40px 0;
  z-index: 2;
  position: relative;
  @media ($laptop) {
    padding: 12px 40px 0;
  }

}

.drop_menu_bottom_nav_wrapper{
  margin-top: -$bottomNavOffset;
  position: relative;
  background: $color1;
  padding: 18px 40px;
  transition: $transition;
  &.fixed{
    margin-top: 0;
  }

  @media ($laptop) {
    margin-top: -$bottomNavOffsetLaptop;
    padding: 8px 40px 12px;
  }

  @media ($tablet) {
    margin-top: 0;
  }
}

////////////////////////////////////////////////// drop mobile menu //////////////////////////////////////////////////////


.drop_menu_mobile{
  @include container;
  position: relative;
  background: $color1;
  width: 100%;
  height: 0;
  overflow: hidden;
  box-shadow: 0 24px 32px 0 rgba(1, 2, 2, 0.71);
  display: none;
  opacity: 0;
  transition: $transition;
  z-index: 2;
  pointer-events: none;
  user-select: none;
  &.active{
    position: relative;
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
    height: 100%;
    @media (max-height: 580px ) {
      height: 410px;
      overflow: scroll;
    }
  }
  @media ($tablet) {
    display: block;
  }
}

.drop_menu_mobile_buttons{
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}
.drop_menu_mobile_button{
  font-family: $gothamProMedium;
  font-size: 13px;
  line-height: 15px;
  border: 2px solid #777777;
  background: $color1;
  border-radius: 8px;
  cursor: pointer;
  padding: 7px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 140px;
  & .button_icon{
    font-size: 22px;
    margin-right: 12px;
    color: $color3;
  }
  & span{
    text-align: left;
  }

}

.drop_menu_mobile_shops{
  border-top: 1px solid black;

  & ul{
    font-family: $gothamProMedium;
    font-size: 13px;
    line-height: 34px;
    list-style-type: none;
    column-count: 5;
    column-gap: 20px;
    padding: 5px 0;
    @media (max-width: 820px) {
      column-count: 4;
    }
    @media (max-width: 670px) {
      column-count: 3;
    }
    @media ($mobile) {
      display: grid;
      grid-template-columns: repeat(2, 140px);
      grid-template-rows: repeat(5, 1fr);
      justify-content: space-between;
      grid-auto-flow: column;
      grid-column-gap: 20px
    }

  }
}

.drop_menu_mobile_info{
  border-top: 1px solid black;

  & ul{
    font-family: $gothamProMedium;
    font-size: 13px;
    line-height: 34px;
    list-style-type: none;
    column-count: 5;
    column-gap: 20px;
    padding: 5px 0;
    @media (max-width: 820px) {
      column-count: 4;
    }
    @media (max-width: 670px) {
      column-count: 3;
    }
    @media ($mobile) {
      column-count: auto;
      display: grid;
      grid-template-columns: repeat(2, 140px);
      grid-template-rows: repeat(3, 1fr);
      justify-content: space-between;
      grid-auto-flow: column;
      grid-column-gap: 20px;
    }
  }
}

.drop_menu_mobile_phone{
  border-top: 1px solid black;
  padding: 22px 0 ;
}




