@import "variables";


.introduction_section{
  position: relative;
  width: 100%;
  height: 900px;
  overflow: hidden;
  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  @media ($laptop) {
    height: 586px;
  }
  @media ($tablet) {
    height: max(586px, calc(100vh - 10px));
  }
  @media ($mobile) {
    height: max(470px, calc(100vh - 10px));
  }

}
.slider_container{
  overflow: hidden;
  position: absolute;
  width: calc(100% - $marginDesktop * 2);
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  @media ($laptop) {
    width: calc(100% - $marginLaptop * 2);
    bottom: 36px;
  }
  @media ($mobile) {
    width: calc(100% - $marginMobile * 2);
    bottom: max(20px, 6.25vw);
  }
}
.introduction_slider{
  & h3{
    font-family: $gothamProMedium;
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 24px;
    color: $color1;
    text-align: center;
    @media ($laptop) {
      font-size: 32px;
      margin: 0 0 18px;
    }
    @media ($tablet) {
      font-size: 36px;
      margin: 0 0 24px;
    }
    @media ($tabletMini) {
      font-size: 32px;
      margin: 0 0 18px;
    }
    @media ($mobile) {
      font-size: 24px;
      margin: 0 0 6px;
    }
  }
}
.introduction_slide{
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 2.77/1;
  @media ($mobile) {
    border-radius: 10px;
  }
  & img{
    object-fit: cover;
    object-position: center center;
  }
}

.introduction_slider_controls{
  position: absolute;
  top: 0;
  right: 0;
  width: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media ($tablet) {
    position: relative;
    right: auto;
    left: 50%;
    margin-top: 24px;
    transform: translateX(-50%);
  }
  @media ($mobile) {
    margin-top: 20px;
  }
  & .prev_button,.next_button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 46px;
    min-height: 46px;
    border-radius: 50%;
    background: $color1;
    cursor: pointer;
    & .arrow{
      font-size: 22px;
    }
  }
  & .pagination{
    font-family: $gothamProLight;
    font-size: 20px;
    line-height: 44px;
    width: 100%;
    text-align: center;
    color: $color1;
  }

}

//////////////////

.promotions_section{
  width: 100vw;
  overflow-x: hidden;
  padding-top: 74px;
  @media ($laptop) {
    padding-top: 48px;
  }
  @media ($tablet) {
    padding-top: 74px;
  }
  @media ($tabletMini) {
    padding-top: 30px;
  }
  @media ($mobile) {
    padding-top: 40px;
  }

}

.promotions_items{
  @include container;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-bottom: 60px;
  @media ($laptop) {
    gap: unset;
    row-gap: 28px;
    column-gap: 40px;
    padding-bottom: 42px;
  }
  @media ($tablet) {
    row-gap: unset;
    column-gap: unset;
    gap: 40px;
    grid-template-columns: repeat(2, calc(50% - 20px));
    padding-bottom: 60px;
  }
  @media ($tabletMini) {
    grid-template-columns: repeat(2, calc(50% - 10px));
    gap: 20px;
    padding-bottom: 42px;
  }
  @media ($mobile) {
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: auto;
    align-items: stretch;
    gap: 34px;
    padding-bottom: 0;
  }
}

.promotions_item{
  position: relative;
  width: 100%;
  overflow: hidden;
  & a{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
}

.item_image {
  overflow: hidden;
  aspect-ratio: 1.36/1;
  & img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
  }
  /*
  @media ($laptop) {
    height: 218px;
  }
  @media ($tablet) {
    height: 290px;
  }
  @media ($tabletMini) {
    height: 218px;
  }
  */


}

.item_description{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 22px 0 0;
  & p{
    @include font15(20px);
    font-family: $gothamPro;
    margin: 0;
    width: 62%;
    @media ($laptop) {
      line-height: 18px;
      width: 75%;
    }
    @media ($tablet) {
      line-height: 20px;
    }
    @media ($tabletMini) {
      line-height: 18px;
    }
  }
  & img{
    &.high{
      @media ($laptop) {
        height: 35px;
        width: auto;
      }
      @media ($tablet) {
        height: unset;
        width: unset;
      }
      @media ($tabletMini) {
        height: 35px;
        width: auto;
      }
      @media ($mobile) {
        height: 32px;
      }
    }
    @media ($laptop) {
      width: 64px;
      margin-top: 4px;
    }
    @media ($tablet) {
      width: unset;
      margin-top: unset;
    }
    @media ($tabletMini) {
      width: 64px;
      margin-top: 4px;
    }


  }

  @media ($laptop) {
    padding: 16px 0 0;
  }
  @media ($tablet) {
    gap: 20px;
    padding: 22px 0 0;
  }
  @media ($mobile) {
    gap: 20px;
    padding: 14px 0 0;
  }

}






.long{
  position: relative;
  grid-column: 3 / span 2;
  grid-row: 2;
  border-radius: 20px 0 0 20px;
  width: calc(100% + $marginDesktop);
  height: fit-content;
  background: rgba(30, 40, 50, 0.7);
  padding: 54px 50px;
  color: $color1;
  cursor: pointer;
  & h2{
    font-family: $gothamProBlack;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 0 22px;
    padding-bottom: 28px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 40px;
      height: 6px;
      background: linear-gradient(90deg, #ffffff, #03edff);
      @media ($mobile) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    & span{
      font-family: $gothamProLight;
      font-size: 25px;
      line-height: 1;
      text-transform: lowercase;
      margin: 0;
      position: relative;
      top: -7px;
      left: 2px;
      letter-spacing: 2px;
      @media ($laptop) {
        font-size: 24px;
        letter-spacing: 0;
      }
      @media ($tablet) {
        font-size: 25px;
        letter-spacing: 2px;
      }
      @media ($tabletMini) {
        font-size: 24px;
        letter-spacing: 0;
      }
      @media ($mobile) {
        font-size: 15px;
        line-height: 20px;
        top: -4px;
        left: 0;
      }
    }
    @media ($laptop) {
      font-size: 32px;
      padding-bottom: 24px;
    }
    @media ($tablet) {
      font-size: 36px;
      padding-bottom: 28px;
    }
    @media ($tabletMini) {
      font-size: 32px;
      padding-bottom: 24px;
    }
    @media ($mobile) {
      font-size: 24px;
      padding-bottom: 20px;
      margin-bottom: 14px;
      text-align: center;
    }

  }
  & p{
    @include font14(22px);
    font-family: $gothamPro;
    margin: 0 0 30px 0;
    max-width: 350px;
    @media ($laptop) {
      font-size: 14px;
      line-height: 22px;
      margin: 0;
    }
    @media ($tablet) {
      margin: 0 0 30px 0;
      max-width: 350px;
    }
    @media ($tabletMini) {
      font-size: 14px;
      line-height: 22px;
      margin: 0;
    }
    @media ($mobile) {
      @include font14(22px);
      text-align: center;
      margin: 0 0 38px 0;
      max-width: 268px;
    }
  }
  & button{
    position: relative !important;
    bottom: unset;
    margin-bottom: 22px;
    @media ($laptop) {
      height: fit-content;
      width: fit-content;
      font-size: 18px;
      margin: 0;
    }
  }
  & img{
    position: absolute;
    bottom: -28%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 134%;
    object-fit: cover;
    transition: $transition;
    @media ($laptop) {
      height: 100%;
      bottom: 0;
    }
    @media ($mobile) {
      left: -90%;
      width: 280%;
    }
    }
  &.zoom{
    & img{
      transform: scale(1.03);
    }
  }
  & .text_wrapper{
    @media ($laptop) {
      width: calc(100% + 18px);
      display: flex;
      gap: 40px;
      justify-content: space-between;
      align-items: center;
    }
    @media ($mobile) {
      width: 100%;
      gap: 0;
      justify-content: flex-start;
      flex-direction: column;
    }
  }
  @media ($laptop) {
    padding: 38px 50px 38px;
    width: calc(100% + $marginLaptop);
  }
  @media ($tablet) {
    grid-column: span 2;
    grid-row: auto;
    width: 100%;
    border-radius: 20px;
  }
  @media ($mobile) {
    grid-column: unset;
    position: relative;
    left: - $marginMobile;
    width: calc(100% + $marginMobile * 2);
    border-radius: 0;
    padding: 44px 10px 56px;

  }

}

.promotions_brands{
  @include container;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  grid-gap: 40px;
  padding-top: 48px;
  padding-bottom: 46px;
  border-top: 7px solid;
  border-image: $gradient;
  border-image-slice: 1;
  & img{
    width: 100%;
    height: auto;
    transform: scale(1.2);
    &:nth-child(6) {
      transform: scale(1);
      @media ($mobile) {
        transform: scale(0.8);
      }
    }
    @media ($mobile) {
      transform: scale(1);
    }

    }
  @media ($laptop) {
    padding-top: 32px;
    padding-bottom: 30px;
  }
  @media ($tablet) {
    grid-template-columns: repeat(6, 1fr);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media ($tabletMini) {
    padding-top: 32px;
    padding-bottom: 30px;
    grid-gap: 20px;
  }
  @media ($mobile) {
    grid-template-columns: repeat(2, 1fr);
    border-top: none;
    border-bottom: 7px solid;
    padding-top: 18px;
    padding-bottom: 18px;
    grid-gap: unset;
    column-gap: 40px;
    row-gap: 0px;
  }
}


////////////////////////////////////////////////////////// pages nav section


.pages_nav_section{
  display: flex;
  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }
}

.pages_nav_item{
  position: relative;
  overflow: hidden;
  padding: 58px 20px 110px;
  background: rgba(0, 2, 13, 0.6);
  cursor: pointer;
  flex: 1;
  @media ($laptop) {
    padding: 38px 20px 78px;
  }
  @media (max-width: 1200px) {
    flex: auto;
    width: 50%;
  }
  @media ($mobile) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 10px 56px 10px !important;
  }
  &:nth-child(1){
    padding-left: $marginDesktop;
    background: $color5;
    color: $color2;
    @media ($laptop) {
      padding-left: $marginLaptop;
    }
  }
  &:nth-child(2){
    & img{
      top: -20%;
      left: -42%;
      @media (max-width: 1200px) {
        width: 100%;
        left: 0;
      }
      @media ($tablet) {
        top: 0;
        left: 0;
      }
      @media (max-width: 840px) {
        height: 100%;
        width: auto;
      }
      @media ($mobile) {
        width: 160%;
        height: unset;
        top: auto;
        bottom: 0;
      }
    }
  }
  &:nth-child(3){
    & img{
      top: -40%;
      left: 0;
      @media (max-width: 1200px) {
        width: 100%;
        top: -130%;
      }
      @media ($tablet) {
        top: -90%;
      }
      @media (max-width: 860px) {
        width: unset;
      }
      @media ($mobile) {
        top: auto;
        bottom: -120%;
        width: 135%;
      }
    }
  }
  &:nth-child(4){
    padding-right: $marginDesktop;
    background: $gradient;
    @media ($laptop) {
      padding-right: $marginLaptop;
    }
  }
  & h3{
    @include font30(44px);
    position: relative;
    margin: 0 0 20px 0;
    padding-bottom: 20px;
    font-family: $gothamProBlack;
    text-transform: uppercase;
    @media ($laptop) {
      margin: 0 0 14px 0;
      padding-bottom: 18px;
    }
    @media ($mobile) {
      margin: 0 0 20px 0;
      padding-bottom: 16px;
    }
    &::after{
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 40px;
      height: 7px;
      background: $gradient;
      @media ($mobile) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &.light{
      &::after{
        background: linear-gradient(90deg, #ffffff, #03edff);
      }
    }
  }
  & p{
    @include font14(22px);
    font-family: $gothamPro;
    margin: 0 0 34px 0;
    max-width: 366px;
    min-height: 66px;
    @media ($laptop) {
      font-size: 13px;
      line-height: 18px;
      margin: 0 0 24px 0;
    }
    @media ($mobile) {
      @include font14(22px);
      text-align: center;
      margin: 0 0 34px 0;
    }
  }
  & img{
    transition: $transition;
    position: absolute;
    z-index: -1;
    width: auto;
    height: auto;
    }
  &.light{
    color: $color1;
    & h3{
      &::after{
        background: linear-gradient(90deg, #ffffff, #03edff);
      }
    }
  }
  &.zoom{
    & img{
      transform: scale(1.03);
    }
  }
}

.pages_nav_item_button{
  @include button;
  position: absolute;
  bottom: 64px;
  @media ($laptop) {
    bottom: 38px;
  }
  @media ($mobile) {
    position: relative;
    bottom: unset;
  }
  &.light{
    position: absolute;
    @media ($mobile) {
      position: relative;
      bottom: unset;
    }
  }
}

