@import "variables";
@import "common";

//////////////////////////////////////////// introduction_section //////////////////////////////////////////////////////

.introduction_section {
  position: relative;
  width: 100%;
  height: 900px;
  overflow: hidden;
  background-image: url("../images/mainImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  @media ($laptop) {
    height: 586px;
  }
  @media ($tablet) {
    height: max(586px, calc(100vh - 10px));
  }
  @media ($mobile) {
    height: max(470px, calc(100svh - 10px));
  }

}

.slider_container {
  overflow: hidden;
  position: absolute;
  width: calc(100% - $marginDesktop * 2);
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  @media ($laptop) {
    width: calc(100% - $marginLaptop * 2);
    bottom: 36px;
  }
  @media ($mobile) {
    width: calc(100% - $marginMobile * 2);
    bottom: max(20px, 6.25vw);
  }
}
.introduction_slider {
  & h1 {
    font-family: $gothamProMedium;
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 24px;
    color: $color1;
    text-align: center;
    @media ($laptop) {
      font-size: 32px;
      margin: 0 0 18px;
    }
    @media ($tablet) {
      font-size: 36px;
      margin: 0 0 24px;
    }
    @media ($tabletMini) {
      font-size: 32px;
      margin: 0 0 18px;
    }
    @media ($mobile) {
      font-size: 24px;
      margin: 0 0 6px;
    }
  }
}
.introduction_slide {
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 2.77/1;
  @media ($mobile) {
    border-radius: 10px;
  }

  & img {
    object-fit: cover;
    object-position: center center;
  }
}
.introduction_slider_controls {
  position: absolute;
  top: 0;
  right: 0;
  width: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media ($tablet) {
    position: relative;
    right: auto;
    left: 50%;
    margin-top: 24px;
    transform: translateX(-50%);
  }
  @media ($mobile) {
    margin-top: 20px;
  }

  & .prev_button, .next_button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 46px;
    min-height: 46px;
    border-radius: 50%;
    background: $color1;
    cursor: pointer;

    & .arrow {
      font-size: 22px;
    }
  }

  & .pagination {
    font-family: $gothamProLight;
    font-size: 20px;
    line-height: 44px;
    width: 100%;
    text-align: center;
    color: $color1;
  }

}


/////////////////////////////////////////// promotions section /////////////////////////////////////////////////////////

.promotions_section {
  @include promotionsSection;
}

.promotions_items {
  @include promotionsItems;
}
.promotions_item {
  @include promotionsItem;
}
.item_image {
  @include itemImage;
}
.item_description {
  @include itemDescription;
}

.long {
  position: relative;
  grid-column: 3 / span 2;
  grid-row: 2;
  border-radius: 20px 0 0 20px;
  width: calc(100% + $marginDesktop);
  height: fit-content;
  background: rgba(30, 40, 50, 0.7);
  padding: 54px 50px;
  color: $color1;
  cursor: pointer;

  & h2 {
    font-family: $gothamProBlack;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 0 22px;
    padding-bottom: 28px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 40px;
      height: 6px;
      background: linear-gradient(90deg, #ffffff, #03edff);
      @media ($mobile) {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    & span {
      font-family: $gothamProLight;
      font-size: 25px;
      line-height: 1;
      text-transform: lowercase;
      margin: 0;
      position: relative;
      top: -7px;
      left: 2px;
      letter-spacing: 2px;
      @media ($laptop) {
        font-size: 24px;
        letter-spacing: 0;
      }
      @media ($tablet) {
        font-size: 25px;
        letter-spacing: 2px;
      }
      @media ($tabletMini) {
        font-size: 24px;
        letter-spacing: 0;
      }
      @media ($mobile) {
        font-size: 15px;
        line-height: 20px;
        top: -4px;
        left: 0;
      }
    }

    @media ($laptop) {
      font-size: 32px;
      padding-bottom: 24px;
    }
    @media ($tablet) {
      font-size: 36px;
      padding-bottom: 28px;
    }
    @media ($tabletMini) {
      font-size: 32px;
      padding-bottom: 24px;
    }
    @media ($mobile) {
      font-size: 24px;
      padding-bottom: 20px;
      margin-bottom: 14px;
      text-align: center;
    }

  }

  & p {
    font-size: 14px !important;
    line-height: 22px !important;
    font-family: $gothamPro;
    margin: 0 0 30px 0;
    max-width: 350px;
    @media ($laptop) {
      margin: 0;
    }
    @media ($tablet) {
      margin: 0 0 30px 0;
      max-width: 350px;
    }
    @media ($tabletMini) {
      margin: 0;
    }
    @media ($mobile) {
      text-align: center;
      margin: 0 0 38px 0;
      max-width: 268px;
    }
  }

  & button {
    position: relative !important;
    bottom: unset;
    margin-bottom: 22px;
    @media ($laptop) {
      height: fit-content;
      width: fit-content;
      font-size: 18px;
      margin: 0;
    }
  }

  & img {
    position: absolute;
    bottom: -28%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 134%;
    object-fit: cover;
    transition: $transition * 4;
    @media ($laptop) {
      height: 100%;
      bottom: 0;
    }
    @media ($mobile) {
      left: -90%;
      width: 280%;
    }
  }

  &.zoom {
    & img {
      transform: scale(1.03);
    }
  }

  & .text_wrapper {
    @media ($laptop) {
      width: calc(100% + 18px);
      display: flex;
      gap: 40px;
      justify-content: space-between;
      align-items: center;
    }
    @media ($mobile) {
      width: 100%;
      gap: 0;
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  @media ($laptop) {
    padding: 38px 50px 38px;
    width: calc(100% + $marginLaptop);
  }
  @media ($tablet) {
    grid-column: span 2;
    grid-row: auto;
    width: 100%;
    border-radius: 20px;
  }
  @media ($mobile) {
    grid-column: unset;
    position: relative;
    left: - $marginMobile;
    width: calc(100% + $marginMobile * 2);
    border-radius: 0;
    padding: 44px 10px 56px;

  }

}

.promotions_brands {
  position: relative;
  padding-top: 48px;
  padding-bottom: 46px;
  border-top: 7px solid;
  border-image: $gradient 1;
  pointer-events: none;
  user-select: none;
  @media ($laptop) {
    padding-top: 32px;
    padding-bottom: 30px;
  }
  @media ($tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media ($tabletMini) {
    padding-top: 32px;
    padding-bottom: 30px;
  }
  @media ($mobile) {
    padding-top: 18px;
    padding-bottom: 18px;
    border-top: none;
    border-bottom: 7px solid;
    pointer-events: unset;
    user-select: unset;
  }

  & .swiper-wrapper{
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;

    & img {
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center center;

      @media ($mobile) {
        width: 100% !important;
        margin-right: unset !important;
      }

    }



    @media ($mobile) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      justify-content: center;
      align-items: center;
      grid-gap: unset;
      column-gap: 40px;
      row-gap: 0;
    }
  }

}



//////////////////////////////////////////// pages nav section /////////////////////////////////////////////////////////

.pages_nav_section {
  @include pagesNavSection;
}

.pages_nav_item {
  @include pagesNavItem;
}
.pages_nav_item_button {
  @include pagesNavButton
}
