@import '../fonts/stylesheet.css';

$gothamPro: "GothamPro";
$gothamProMedium: "GothamProMedium";
$gothamProBold: "GothamProBold";
$gothamProBlack: "GothamProBlack";
$openSans: "OpenSans";

$color1: #ffffff;
$color2: #212832;
$color3: #6d82fc;
$color4: #4aa8ff;

$gradientColor1: #49a9ff;
$gradientColor2: #d327ff;

$marginDesktop: 110px;
$marginLaptop: 31px;
$marginMobile: 10px;

$transition: 300ms;

$laptop: 'max-width: 1600px';
$tablet: 'max-width: 1024px';
$mobile: 'max-width: 600px';

@mixin font14 ($lineHeight: 1){
  font-size: 14px;
  line-height: $lineHeight;
}

@mixin font16 ($lineHeight: 1){
  font-size: 16px;
  line-height: $lineHeight;
}

@mixin font18 ($lineHeight: 1){
  font-size: 18px;
  line-height: $lineHeight;
}

@mixin font20 ($lineHeight: 1){
  /*
  font-size: max(1.0416667vw, 16px);
  */
  font-size: 20px;
  line-height: $lineHeight;
  @media ($laptop) {
    font-size: 16px;
  }
}


@mixin container{
  padding: 0 $marginDesktop;
  @media ($laptop) {
    padding: 0 $marginLaptop;
  }
  @media ($mobile) {
    padding: 0 $marginMobile;
  }
}





///////////////////////////////////////////////// header - footer /////////////////////////////////////////////////////

@mixin logo{
  margin-right: 86px;
  @media ($laptop) {
    margin-right: 54px;
    margin-top: -6px;
  }
  & img{
    position: relative;
    top: 8px;
    max-height: 58px;
    max-width: 205px;
    @media ($laptop) {
      max-height: 47px;
      max-width: 169px;
    }
    @media ($tablet) {
      max-height: 40px;
      max-width: 150px;
      top: 8px;
    }
    @media ($mobile) {
      max-height: 30px;
      max-width: 103px;
    }
  }
}

@mixin siteNavigation{
  @include container;
  @include font14(18px);
  font-family: $gothamProMedium;
  color: $color1;
  background: $color2;
  width: 100%;
  display: flex;
  justify-content: flex-end;


  & ul{

    width: 1056px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    @media ($laptop) {
      font-size: 13px;
      line-height: 14px;
      width: 850px;
    }
  }
}

@mixin floorPlanButton {
  font-family: $gothamProMedium;
  border: 2px solid #777777;
  background: $color1;
  border-radius: 8px;
  cursor: pointer;
  padding: 0 18px;

  & span{
    @include font20(44px);
  }
  & .fa-map{
    position: relative;
    font-size: 22px;
    line-height: 30px;
    color: $color3;
    margin-right: 6px;
    top: 1px;
    @media ($laptop) {
      font-size: 20px;
    }
  }
}

@mixin address {
  & span{
    @include font16(24px);
    font-family: $gothamProBold;
    @media ($laptop) {
      font-size: 15px;
      margin-right: 36px;
    }
    @media ($tablet) {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

@mixin addressLinks{
  position: relative;
  top: 4px;
  @media ($laptop) {
    top: 0;
  }
  & a{
    @include font14(24px);
    font-family: $gothamPro;
    color: $color3;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin-right: 20px;
    @media ($laptop) {
      font-size: 13px;
    }
  }
}

@mixin phoneNumber{
  display: flex;
  flex-direction: column;
  text-align: center;
  & span:first-child{
    font-size: 20px;
    line-height: 24px;
    font-family: $gothamProBold;
    @media ($laptop) {
      font-size: 20px;
    }
  }
  & span:last-child{
    @include font14(24px);
    font-family: $gothamPro;
    position: relative;
    top: 4px;
    @media ($laptop) {
      font-size: 13px;
      top: 0;
    }
    @media ($tablet) {
      font-size: 14px;
    }
  }
}
