@font-face {
	font-family: 'Gotham Pro';
	src: url('gothampro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProMedium';
	src: url('gothampro_medium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProBold';
	src: url('gothampro_bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProLight';
	src: url('gothampro_Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProBlack';
	src: url('gothampro_Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url('gothampro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
